.catalog {
  display: grid;
  gap: 48px;

  justify-content: center;
  align-items: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
 
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $column-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $column-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $column-width);
  }
}
